.input{
	
	margin-bottom: 10px;
}

.inputMedio{
	
	margin-bottom: 10px;
	width: 150px
}

.inputMenor{
	
	
	margin-bottom: 10px;
	width: 70px;
	
	
}

.positon{
	
	
	margin-left: 160px;
	margin-top: -48px;
}

.botao{
	
	
	margin-left: 150px;
	margin-top: -300px;
}

.cloneCor{
	
	margin-left: 235px;
	margin-top: -50px;
}
.cloneQuantidade{
	margin-left: 390px;
	margin-top: -47px;
	
	
}

.cloneAltura{
	
	margin-left: 465px;
	margin-top: -50px;
	
}

.cloneLargura{
	
	margin-left: 540px;
	margin-top: -50px;
	
}
.cloneValorTotal{
	margin-left: 615px;
	margin-top: -50px;
	
}
.remover{
	margin-left: 690px;
	margin-top: -80px;
	
}










